
body {
    font-family: Tahoma;
    color: #000000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.b_navegacion {
    background-color: #333;
    padding: 10px;
}

.b_navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.b_navegacion li {
    display: inline;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.main-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.file-input,
.input-field {
    font-size: 23px;
}

.calc-btn {
    font-size: 23px;
}

.sub-title {
    font-weight: bold;
    font-size: 23px;
}

.result-text {
    font-size: 25px;
    text-align: center;
}

/* Agrega más estilos según sea necesario */
